@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Nunito+Sans:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  color: white;
}

:root {
  --gray: rgb(177, 177, 177);
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b3b39;                   
}
.brand{
  font-family: Caveat;
  font-size: 30px;
}
.navigation-items{
  font-family: Nunito Sans;
  font-size: 20px;
}
.class {
  margin-top: 5px;
  margin-left: 3px;
}

.topnav {
  float: right;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}


.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3dc;
}

#radio1:checked~.first {
  margin-left: 0%;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}
#radio5:checked~.first {
  margin-left: -80%;
}
#radio6:checked~.first {
  margin-left: -100%; 
}
/*css for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #40D3dc;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #40D3dc;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #40D3dc;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #40D3dc;
}
#radio5:checked~.navigation-auto .auto-btn5 {
  background: #40D3dc;
}

#radio6:checked~.navigation-auto .auto-btn6 {
  background: #40D3dc;
}